#navMenu {
    display: flex;
    list-style-type: none;
}

.navLink:link {
    padding: 0 30px;
    color: black;
    font-size: 1.15rem;
    line-height: 1.6rem;
    text-decoration: none;
}

.loginItem {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: black;
    padding: 0 5px;
    margin: 0px;
    text-decoration: none;
}

.navLinkLogin:link {
    padding: 0 15px;
    color: black;
    font-size: 1.15rem;
    line-height: 1.6rem;
    text-decoration: none;
}

.navLink, .navLinkLogin:visited {
    color: black;
}

.navLink, .navLinkLogin:hover {
    color: gray;
}

.navLink, .navLinkLogin:active {
    color: black;
}

.activeRoute {
    border-bottom: 0.20rem solid teal;
    cursor: not-allowed;
}
